In [61]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [7]:
train_df = pd.read_csv(r"C:\Users\ASUS\Documents\GUVI ZEN CLASSES\MAINT BOOT\NLP\p1_train.csv")
train_df.head(3)

   -7.26E+00  9.57E+00  5.36E+00
0       3.46     10.70     -13.3
1     -13.00     -3.45      31.8
2       7.08    -14.10       2.0

In [9]:
train_df.rename(columns={'-7.26E+00':'Sensor1','9.57E+00':'Sensor2','5.36E+00':'Health'},inplace=True)

In [10]:
train_df

      Sensor1  Sensor2  Health
0       3.460    10.70 -13.300
1     -13.000    -3.45  31.800
2       7.080   -14.10   2.000
3     -15.200   -18.60  48.800
4       6.840    -8.08  -0.481
...       ...      ...     ...
9994   17.000    -7.38 -21.800
9995    0.258   -19.50  22.100
9996   17.600    11.30 -47.800
9997    0.532   -15.20  20.800
9998   10.800    -2.72 -20.700

[9999 rows x 3 columns]

In [11]:
train_df.size

29997

In [28]:
print(f"Rows: {train_df.shape[0]}, Columns : {train_df.shape[1]}")

Rows: 9998, Columns : 3

In [12]:
train_df.duplicated().sum()

1

In [16]:
train_df.drop_duplicates(inplace=True)

In [17]:
train_df.duplicated().sum()

0

In [18]:
train_df.isna().sum()

Sensor1    0
Sensor2    0
Health     0
dtype: int64

In [19]:
test_df = pd.read_csv(r"C:\Users\ASUS\Documents\GUVI ZEN CLASSES\MAINT BOOT\NLP\p1_test.csv")
test_df.head()

   1.59E+01  1.17E+01  -3.76E+01
0    -2.720     -4.54       11.5
1   -14.600     18.60       11.5
2     0.224     16.40      -15.2
3   -12.200     11.70       17.4
4    17.200    -14.00      -18.3

In [20]:
test_df.columns

Index(['1.59E+01', '1.17E+01', '-3.76E+01'], dtype='object')

In [21]:
test_df.rename(columns={'1.59E+01':"Sensor1",'1.17E+01':'Sensor2','-3.76E+01':'Health'},inplace=True)

In [22]:
test_df.head()

   Sensor1  Sensor2  Health
0   -2.720    -4.54    11.5
1  -14.600    18.60    11.5
2    0.224    16.40   -15.2
3  -12.200    11.70    17.4
4   17.200   -14.00   -18.3

In [23]:
test_df.size

14997

In [27]:
print(f"Rows: {test_df.shape[0]}, Columns : {test_df.shape[1]}")

Rows: 4999, Columns : 3

In [29]:
test_df.duplicated().sum()

1

## Removing duplicates: ##

In [30]:
test_df.drop_duplicates(inplace=True)

In [31]:
test_df.duplicated().sum()

0

In [32]:
test_df.isna().sum()

Sensor1    0
Sensor2    0
Health     0
dtype: int64

In [35]:
train_df

      Sensor1  Sensor2  Health
0       3.460    10.70 -13.300
1     -13.000    -3.45  31.800
2       7.080   -14.10   2.000
3     -15.200   -18.60  48.800
4       6.840    -8.08  -0.481
...       ...      ...     ...
9994   17.000    -7.38 -21.800
9995    0.258   -19.50  22.100
9996   17.600    11.30 -47.800
9997    0.532   -15.20  20.800
9998   10.800    -2.72 -20.700

[9998 rows x 3 columns]

In [36]:
test_df

      Sensor1  Sensor2  Health
0      -2.720    -4.54    11.5
1     -14.600    18.60    11.5
2       0.224    16.40   -15.2
3     -12.200    11.70    17.4
4      17.200   -14.00   -18.3
...       ...      ...     ...
4994  -14.400     7.06    21.4
4995  -12.200    12.20    15.0
4996  -19.200   -18.20    56.7
4997  -13.600     2.77    26.6
4998   -3.780     0.98    11.9

[4998 rows x 3 columns]

## Concatenation of two dataframes: ##

In [37]:
df = pd.concat([train_df,test_df],ignore_index=True)
df.head()

   Sensor1  Sensor2  Health
0     3.46    10.70 -13.300
1   -13.00    -3.45  31.800
2     7.08   -14.10   2.000
3   -15.20   -18.60  48.800
4     6.84    -8.08  -0.481

In [38]:
df.size

44988

In [44]:
print(f"Rows : {df.shape[0]}, Columns : {df.shape[1]}")

Rows : 14996, Columns : 3

In [39]:
df.duplicated().sum()

0

In [40]:
df.isna().sum()

Sensor1    0
Sensor2    0
Health     0
dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14996 entries, 0 to 14995
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sensor1  14996 non-null  float64
 1   Sensor2  14996 non-null  float64
 2   Health   14996 non-null  float64
dtypes: float64(3)
memory usage: 351.6 KB

In [45]:
df.head()

   Sensor1  Sensor2  Health
0     3.46    10.70 -13.300
1   -13.00    -3.45  31.800
2     7.08   -14.10   2.000
3   -15.20   -18.60  48.800
4     6.84    -8.08  -0.481

# Linear Regression Model: #

In [58]:
X = df.drop(['Health'],axis=1)
y = df['Health']

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

model = LinearRegression()

model.fit(x_train,y_train)

train_pred = model.predict(x_train)
test_pred = model.predict(x_test)


print(f"Train MSE : {mean_squared_error(y_train,train_pred)}")
print(f"Train MAE : {mean_absolute_error(y_train,train_pred)}")
print()
print(f"Test MSE : {mean_squared_error(y_test,test_pred)}")
print(f"Test MAE : {mean_absolute_error(y_test,test_pred)}")

Train MSE : 5.031253682970878
Train MAE : 1.7895485913532412

Test MSE : 5.156853489815895
Test MAE : 1.813725503420296

# Support Vector  Regression Model: #

In [62]:
X = df.drop(['Health'],axis=1)
y = df['Health']

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

model = SVR()

model.fit(x_train,y_train)

train_pred = model.predict(x_train)
test_pred = model.predict(x_test)

print(f"Train MSE : {mean_squared_error(y_train,train_pred)}")
print(f"Train MAE : {mean_absolute_error(y_train,train_pred)}")
print()
print(f"Test MSE : {mean_squared_error(y_test,test_pred)}")
print(f"Test MAE : {mean_absolute_error(y_test,test_pred)}")

Train MSE : 5.388938966172857
Train MAE : 1.8462542759342437

Test MSE : 5.2697339597168735
Test MAE : 1.816248502053007